.container {
    margin: auto;
    width: 70%;
    background: #fff;
    padding: 10px;
    min-height: 100vh;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-1 {
    width: 24em;
    margin: 0 auto;
    border-right: .15em solid #c41d7f6e;
    font-size: 160%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: #fff;
}

/* Animation */
.anim-typewriter {
    animation: typewriter 3.5s steps(24) 1s 1 normal both,
        blinkTextCursor 500ms steps(24) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 12em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #c41d7f6e;
    }

    to {
        border-right-color: transparent;
    }
}

.skillTitle {
    margin-top: 2em;
    letter-spacing: 1px;
}

.workPeriod,
.employer {
    padding-top: 2em;
}

.employer {
    padding-top: 2em;
    margin-bottom: 1em;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: #999;
    color: #fff
}

.tag:hover::after {
    border-left-color: #999;
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 20px;
    }
    .container {
        width: 100%;
        padding: 15px;
    }
    .orgs {
        display: none;
    }
  }